<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="ExperienceEdge.EnableItemLanguageFallback">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="ExperienceEdge.EnableFieldLanguageFallback">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
        </settings>
       <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
            <indexes hint="list:AddIndex">
                <index id="sitecore_master_index">
                    <enableItemLanguageFallback><patch:delete/></enableItemLanguageFallback>
                    <enableItemLanguageFallback>true</enableItemLanguageFallback>
                    <enableFieldLanguageFallback><patch:delete/></enableFieldLanguageFallback>
                    <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
                </index>
            </indexes>
        </contentSearch>
    </sitecore>
</configuration>