<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <solrConnectionConfigurations>
          <solrConnectionConfiguration name="query">
            <timeout>0</timeout>
              <usePost>true</usePost>
          </solrConnectionConfiguration>
          <solrConnectionConfiguration name="default">
            <timeout>0</timeout>
            <usePost>true</usePost>
          </solrConnectionConfiguration>
        </solrConnectionConfigurations>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>