<?xml version="1.0" encoding="utf-8" ?>		
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/" >		
  <sitecore>		
    <mediaLibrary>		
      <mediaTypes>		
        <mediaType name="Any">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
        <mediaType name="AVI video">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="Windows Bitmap image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/image</sharedTemplate>		
        </mediaType>		
        <mediaType name="Flash">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Flash</sharedTemplate>		
        </mediaType>		
        <mediaType name="Flash video">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="GIF image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/image</sharedTemplate>		
        </mediaType>		
        <mediaType name="HTML">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
        <mediaType name="JPEG image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/jpeg</sharedTemplate>		
        </mediaType>		
        <mediaType name="MP3">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/mp3</sharedTemplate>		
        </mediaType>		
        <mediaType name="MP4 video">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="PDF file">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/pdf</sharedTemplate>		
        </mediaType>		
        <mediaType name="PNG image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/image</sharedTemplate>		
        </mediaType>		
        <mediaType name="SVG image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/image</sharedTemplate>		
        </mediaType>		
        <mediaType name="QuickTime movie">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="TIFF image">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/image</sharedTemplate>		
        </mediaType>		
        <mediaType name="Zip file">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/zip</sharedTemplate>		
        </mediaType>		
        <mediaType name="Video for Adobe Flash Player">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="Windows Media video">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/Movie</sharedTemplate>		
        </mediaType>		
        <mediaType name="Word document">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/doc</sharedTemplate>		
        </mediaType>		
        <mediaType name="Word 2007 document">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/docx</sharedTemplate>		
        </mediaType>		
        <mediaType name="PPTX File">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
        <mediaType name="PPT File">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
        <mediaType name="XLSX File">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
        <mediaType name="XLS File">		
          <sharedTemplate><patch:delete /></sharedTemplate>		
          <sharedTemplate>system/media/versioned/file</sharedTemplate>		
        </mediaType>		
      </mediaTypes>		
    </mediaLibrary>		
  </sitecore>		
</configuration>		
		